main {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.checkout-form-sections {
    display: flex;
    flex-direction: column;
}

.shipping-info, .payment-form {
    max-width: 554px;
    margin: 26px 0;
    padding: 62px;
    background-color: #ffffff;
    border: 4px solid #401713;
    border-radius: 20px;
}

.shipping-info h1, .payment-form h1 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}
.shipping-form .payment-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 700px;
    margin: 70px auto;
}

.shipping-form-group, .payment-form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
}

.form-row.two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 100%;
}

.shipping-form-group label, .payment-form-group label {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin: 11px 0 10px 0;
}

.shipping-form-group input, .payment-form-group input {
    max-height: 48px;
    padding: 10px;
    border: 2px solid rgba(12, 12, 32, 0.2);
    border-radius: 8px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #401713;
}

input:invalid:user-invalid {
    border-color: #C53122;
}

.place-order-btn {
    display: block;
    margin: 30px auto 0 auto;
    cursor: pointer;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.cart-summary {
    max-width: 100%;
    margin: 26px 0 70px 145px;
    padding: 50px;
    background-color: #ffffff;
    border: 4px solid #401713;
    border-radius: 20px;
    height: fit-content;
    position: sticky;
    top: 20px;
}

.cart-summary h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
}

.cart-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-columns: 80px 1fr auto;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.cart-items img {
    max-width: 60px;
    height: auto;
    object-fit: cover;
}

.cart-items, .product-price {
    text-align: right;
}

.subtotal-container {
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
}