.product-details {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 151px;
}

.product-details img {
    max-width: 100%;
    object-fit: cover;
}

.product-info {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-to-cart-btn-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.product-info__header {
    display: flex;
    gap: 20px;
}

.share-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #401713;
}

.customer-reviews {
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    margin-bottom: 427px;
}