/* Main body  */

body {
    margin: 0;
    background-color: #F2E0D0;
    font-family: 'Inter', sans-serif;
    color: #0C0C20;
}

header {
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin-left: 25px;
}

nav ul {
    font-family: 'Figtree', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    list-style: none;   
    gap: 30px;
    display: flex;
    margin: 0;
}
nav ul li a {
    text-decoration: none;
    color: #0C0C20;
}

.header-icons {
    display: flex;
    gap: 41px;
    margin-right: 81px;    
}

/* Footer styles */

footer {
    background-color: #BFA095;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 2px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

footer ul li a {
    text-decoration: none;
    color: #0C0C20;
    font-weight: 600;
    gap: 10px;
}

footer ul li a:hover {
    color: #401713;
}

/*Product Page styles*/

/* Carousel styles */
.carousel {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 50px;
}

.carousel-container {
    display: flex;
    width: 300%; /* Width for 3 slides */
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    position: relative;
    width: 33.333%; /* Each slide takes 1/3 of container */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 15px;

}

.carousel-content {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: #F2E0D0;
    z-index: 2;
}

.carousel-content p {
    font-family: 'Figtree', sans-serif;
    font-size: 72px;
    font-weight: 700;
    margin: 0 0 20px 0;
    text-shadow: 2px 2px 4px #0C0C20;
}

.carousel-image_text-1 {
    display: block;
    justify-content: center;
    align-items: center;
}

.shop-now {
    background-color: #F2E0D0;
    color: #0C0C20;
    border: #401713 2px solid;
    border-radius: 15px;
    padding: 10px 30px;
    width: 207px;
    height: 49px;
    font-family: 'Figtree', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.shop-now:hover {
    background-color: #401713;
    color: #BFA095;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #F2E0D0;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: background-color 0.5s ease;
}

.carousel-nav:hover {
    background-color: #401713;
}

.carousel-nav.prev {
    left: 20px;
}

.carousel-nav.next {
    right: 20px;
}

.carousel-nav::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
}

.carousel-nav.prev::before {
    border-width: 8px 12px 8px 0;
    border-color: transparent #0C0C20 transparent transparent;
}

.carousel-nav.next::before {
    border-width: 8px 0 8px 12px;
    border-color: transparent transparent transparent #0C0C20;
}

.carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 3;
}

.carousel-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicator.active {
    background-color: white;
}



/*mobile menu styles*/
/* Main body  */

body {
    margin: 0;
    background-color: #F2E0D0;
    font-family: 'Inter', sans-serif;
    color: #0C0C20;
}

header {
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin-left: 25px;
}

nav ul {
    font-family: 'Figtree', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    list-style: none;   
    gap: 30px;
    display: flex;
    margin: 0;
}
nav ul li a {
    text-decoration: none;
    color: #0C0C20;
}

.header-icons {
    display: flex;
    gap: 41px;
    margin-right: 81px;    
}

/* Footer styles */

footer {
    background-color: #BFA095;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 2px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

footer ul li a {
    text-decoration: none;
    color: #0C0C20;
    font-weight: 600;
    gap: 10px;
}

footer ul li a:hover {
    color: #401713;
}

/*Product Page styles*/

/* Carousel styles */
.carousel {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 50px;
}

.carousel-container {
    display: flex;
    width: 300%; 
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    position: relative;
    width: 33.333%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 15px;

}

.carousel-content {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: #F2E0D0;
    z-index: 2;
}

.carousel-content p {
    font-family: 'Figtree', sans-serif;
    font-size: 72px;
    font-weight: 700;
    margin: 0 20px 80px 0;
    text-shadow: 2px 2px 4px #0C0C20;
}

.carousel-image_text-1 {
    margin: 0 20px 80px 20px;
}

.shop-now {
    background-color: #F2E0D0;
    color: #0C0C20;
    border: #401713 2px solid;
    border-radius: 15px;
    margin: 20px;
    padding: 10px 30px;
    width: 207px;
    height: 49px;
    font-family: 'Figtree', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.shop-now:hover {
    background-color: #401713;
    color: #BFA095;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #F2E0D0;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: background-color 0.5s ease;
}

.carousel-nav:hover {
    background-color: #401713;
}

.carousel-nav.prev {
    left: 50px;
}

.carousel-nav.next {
    right: 50px;
}

.carousel-nav::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
}

.carousel-nav.prev::before {
    border-width: 8px 12px 8px 0;
    border-color: transparent #0C0C20 transparent transparent;
}

.carousel-nav.next::before {
    border-width: 8px 0 8px 12px;
    border-color: transparent transparent transparent #0C0C20;
}

.carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 3;
}

.carousel-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition-delay: 0s;
}

.carousel-indicator.active {
    background-color: white;;
}



/*mobile menu styles*/
