@import url(variables.css);

.success-container {
    max-width: 980px;
    height: auto;
    margin: 100px auto;
    padding: 40px;
    background-color: var(--color-white);
    border: 4px solid #401713;
    border-radius: 20px;
    text-align: center;
}

.success-container h1 {
    font-size: 72px;
    font-weight: 700;
    color: #401713;
    margin-bottom: 20px;
}

.success-container h2 {
    font-size: var(--font-size-h2);
    font-weight: 700;
    color: var(--color-accent);
    margin-bottom: 30px;
}